.listItem {
	height: 50;
	display: flex;
	margin: 10px 0;
	.originalContainer {
		width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid black;
	}
	.translateContainer {
		width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid black;
		border-left-width: 0px;
	}
}
