header {
	margin: 0;
	padding: 0;
	ul {
		padding: 0;
		width: 100%;
		height: 50px;
		background-color: red;
		display: flex;
		justify-content: space-around;
		align-items: center;
		li {
			width: 100%;
			height: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: yellow;
			a {
				text-decoration: none;
				color: black;
			}
		}
		li:hover {
			background-color: blue;
		}
	}
}
